<div class="mb-6" data-controller="expandable" data-expandable-default-expanded-value="false">
  <%# Expandable Header %>
  <div 
    data-action="click->expandable#toggle" 
    class="expandable-header secondary  "
  >
    <h3 class="text-2xl font-bold mb-4"><%= category.capitalize %></h3>
    <svg data-expandable-target="icon" class="w-6 h-6 transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
    </svg>
  </div>
  <%# Expandable Content %>
  <div 
    data-expandable-target="content"
    class="expandable-content border secondary"
  >
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 py-2"
      data-phrase-target="categoryContainer"
      data-category="<%= category %>"
      id="category_<%= category.parameterize %>"
    >
    <% phrases.each do |phrase| %>
      <%= render 'phrase', phrase: phrase %>
      <% end %>
    </div>
  </div>
</div>