<% if notice %>
  <div class="notice bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert" data-controller="notice">
    <div class="flex items-center">
      <div class="py-1">
        <svg class="fill-current h-6 w-6 text-green-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
        </svg>
      </div>
      <div>
        <%= notice %>
      </div>
    </div>
    <button class="absolute top-0 right-0 mt-4 mr-4" data-action="click->notice#close">
      <svg class="h-6 w-6 text-green-500 hover:text-green-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
<% end %>
